<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">


  <hr class="my-4">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'store' %}">Timon Djangokauppa</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Tervetuloa!</a>
          </li>
          <li>
            <a href="https://github.com/himotimo/django_project_boilerplate" target="_blank">
              <i class="link-element">Sivun Github</i>
            </a>
          </li>
        </ul>
        <!-- Social icons -->
        <div class="pb-4">


        </div>
        <!-- Social icons -->
        </div>

    </nav>
  <hr>



</footer>
<!--/.Footer-->
