{% extends 'store/main.html' %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div>

        <!--Grid column-->
        {% comment %}<div class="col-md-6 mb-4">

          <img src="" class="img-fluid" alt="">

        </div>{% endcomment %}
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!--Content-->
          <div class="p-4">
            <h1><strong>{{product.name}}</strong></h1>
            <p class="lead">
              <span>{{object.price}}€</span>
            </p>

            <p class="lead font-weight-bold">Tuotekuvaus</p>

            <p>{{object.description}}</p>

            <hr>
            <button data-product={{object.id}} data-action = "add"
            class="btn btn-outline-secondary add-btn update-cart">Lisää ostoskoriin!</button>

          </div>
          <!--Content-->
          <div><img class="big-image" src="{{object.imageURL}}"></div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Lisätiedot</h4>

          <p>{{object.description}}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock content %}
